/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Styling for the Sign in section */
  .signin-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .sign-container
  {
    margin-top: 100px;

  }
  
  /* Styling for the left side */
  .signin-left {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  /* Styling for the "Your Event Destination" slogan */
  .slogan {
    font-size: 3rem;
    font-weight: bold;
    color: #333; /* Text color */
    margin-top: 0;
  }
  
  /* Styling for the instructions text */
  .instructions {
    font-size: 15px;
    color: #555; /* Text color */
    margin-bottom: 20px;
  }
  
  /* Styling for the right side */
  .signin-right {
    width:60%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Styling for the "Sign in" heading */
  .signin-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; /* Text color */
  }
  
  /* Styling for the Google sign-in button */
  .google-signin-button {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: white; /* Google blue */
    color: black; /* Text color */
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .google-signin-button img {
    width: 24px; /* Adjust the size of the Google icon */
    margin-right: 10px;
  }
  
  /* Hover effect for the Google sign-in button */
  .google-signin-button:hover {
    background-color: #e2e2e3;
  }
  
  .login-icon
  {
    width:300px;
    
  }

  .login-box
  {
    width:fit-content;
    padding:20px;
    padding-bottom: 40px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  }