

.event-submission-form {
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  font-family: 'Montserrat', sans-serif;
  color: black;
  width:90%;
  
  margin: auto;
  margin-top: 70px;

}

.form-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  flex-direction: row;

  padding: 40px;
}



.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="url"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="time"]:focus,
.form-group input[type="url"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}
form {
  width:100%;
  display: flex;
  flex-direction: row;
}
.poster-preview img {
 width:200px;
}.form-intro {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-intro h2 {
  margin: 0;
  font-size: 24px;
}

.form-intro p {
  font-size: 14px;
}
